<div class="h-screen w-screen bg-[url(../public/bgfinal.webp)] bg-cover bg-no-repeat bg-center flex items-center justify-center overflow-hidden">

  <!-- padding alrededor del form -->
  <div class="p-4 sm:p-3 bg-gray-900/70 rounded-lg backdrop-blur-sm border-2 border-indigo-500/10">

    <!-- form -->
    <!-- 
      Usamos (ngSubmit) en lugar de (click) en el botón. 
      Esto permite que el formulario se envíe también al presionar "Enter".
    -->
    <form class="max-w-sm mx-auto bg-gray-900/90 backdrop-blur-sm p-14 rounded-lg shadow-2xl" 
          style="padding: 20px 50px 20px 50px;" 
          (ngSubmit)="onSubmit()">
          
      <h2 class="text-3xl font-bold mb-6 text-white text-center">Iniciar Sesión</h2>

      <!-- Mensaje de Error -->
      <!-- Mostramos el contenedor de error solo si 'errorMessage' tiene un valor -->
      <div *ngIf="errorMessage" class="mb-4 p-3 bg-red-900 border border-red-700 text-red-200 rounded-md text-center">
        {{ errorMessage }}
      </div>

      <div class="mb-4">
        <label for="email" class="block text-white mb-2">Usuario</label>
        <input
          [(ngModel)]="email"
          type="text"
          id="email"
          name="email"
          class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 text-black"
          required
          [disabled]="isLoading"
        />
      </div>

      <div class="mb-6">
        <label for="password" class="block text-white mb-2">Contraseña</label>
        <input
          [(ngModel)]="password"
          type="password"
          id="password"
          name="password"
          class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 text-black"
          required
          [disabled]="isLoading"
        />
      </div>

      <!-- 
        Cambiamos el (click) por type="submit" para que funcione con (ngSubmit).
        Deshabilitamos el botón y cambiamos el texto mientras 'isLoading' sea true.
      -->
      <button
        type="submit"
        class="w-full bg-indigo-600 text-white p-2 rounded-md hover:bg-indigo-700 transition-colors disabled:bg-gray-500 disabled:cursor-not-allowed"
        [disabled]="isLoading"
      >
        <!-- Mostramos un texto u otro dependiendo del estado de 'isLoading' -->
        <span *ngIf="!isLoading">Iniciar Sesión</span>
        <span *ngIf="isLoading">Verificando...</span>
      </button>

      <h2 class="text-1xl font-bold mb-6 text-white text-center pt-8 opacity-75">
        ¿No tienes una cuenta?
        <button
          type="button"  type="button"
          [routerLink]="['register']"
          class="text-indigo-500 hover:text-indigo-700 cursor-pointer opacity-75"
        >
          Regístrate
        </button>
      </h2>
    </form>
  </div>
</div>